-# coding: UTF-8
%header{:id => "top"}
  %h1
    %a.clearfix{:href => "#"}
      %b
      %i
      %span Stock Diary
  %nav.menu
    %ul
      - if current_user
        %li.nav-blog.active
          %a{:href => "#"} Blog
        %li.nav-logout
          %a{:href => "/logout"} logout
      - else
        %li.nav-login
          %a{:href => "/login"} login
        %li.nav-register
          %a{:href => "/signup"} register
%section#content
  - if current_user
    %article
      = glorify @diary_0
  %article
    %h2
      %a{:href => "#"} This is a blog post for testing.
    %p Apple has a strange idea of cloud based storage. The biggest problem of the current way for accessing files in iCloud is that you have no other option but to open the same application you used to put stuff into iCloud to access it again. Which means, once you use Mail to put a PDF into iCloud, it is somehow lost in the virtual realms. At least that's what I thought. After a bit of searching I found the files hidden in a folder in my Library.
    %p Since I hate digging to folders just to reach a folder I know, I decided to make a symbolic link to the folder into my home directory. You can do the same by entering the following command into Terminal.app:
    %pre>
      %code ln -s ~/Library/Mobile\ Documents ~/iCloud
    %p I hope this saves some trouble.
    %p So long.
    %footer
      %time{:datetime => "2012-08-20T00:00:00+00:00"}
        %a{:href => "http://einserver.de/blog/easy-access-to-icloud-files", :title => "Permanent link to this post"} 20th August 2012
  %nav.pagination
    %a.next{:href => "http://einserver.de/page:2"} &larr; older posts
.side
  %aside#info
    %h3 About
    %p This is a blog by Kenshin. Design, Code and other chaos included.
  %aside
    %h2 Hint
    %p You can use markdown for writing this blog.
%footer
  © 2004-2012 
  %a{:href => "http://florianpichler.de"} Florian Pichler
  %br
  %a{:href => "http://einserver.de/imprint"} Imprint