!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title Stock-Diary-App
    %link{:href => "/stylesheets/style.css", :rel => "stylesheet"}/
  %body.clearfix
    = yield
    %script{:src => 'javascripts/jquery-latest.js'}
    %script{:src => 'javascripts/modernizr.js'}